section {
  margin: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

div {
  border-radius: 10px;
  border: 1px white solid;
}

div.top-button {
  margin-bottom: 15px;
}

.button,
.bottom-button {
  text-align: center;
}

button {
  border-radius: 5px;
  width: 75px;
  height: 25px;
}

button.site-link,
button.delete {
  width: 58px;
  height: 20px;
}

button.new,
button.create {
  color: white;
  background-color: #1fad9d;
}

button.filter,
button.create {
  background-color: #3297fc;
  color: white;
}

button.clear-filter,
button.cancel {
  background-color: #fe654f;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.cancel,
button.delete {
  background-color: #fe654f;
}

button.site-link {
  background-color: #afafdc;
}

input[type="submit"] {
  background-color: #3297fc;
  color: white;
  border-radius: 5px;
  width: 75px;
  height: 25px;
}

div.indented {
  padding-top: 10px;
  margin-left: 20px;
}

div p {
  text-align: justify;
}

h1 {
  text-align: center;
}

h3 {
  background-color: #1fad9d;
  border-radius: 3px;
  text-align: left;
  padding-left: 10px;
}

div#ratings-selection.ratings {
  margin: auto;
  width: 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 8px 0px;
  text-align: left;
}

input[class="error-placeholder"]::placeholder {
  color: orange;
}

textarea[class="error-placeholder"]::placeholder {
  color: orange;
}

.link {
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex h3 {
  flex: 1;
}

.flex p {
  flex: 1;
  background-color: #1fad9d;
  border-radius: 3px;
}

div.title-rating {
  background-color: #1fad9d;
}

i.fa-star {
  color: #f0c732;
}

div p#description-text {
  padding: 0;
}

/* Media query for desktop CSS declarations */
@media all and (min-width: 600px) {
  section {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
  }
  div p {
    padding-left: 80px;
  }
}
